/* 
    Document   : custom.css
    Created on : Feb 4, 2012, 12:17:10 AM
    Author     : Super3
    Description:
        Modify the original bootstrap css. 
*/

/* Main Tags */
body {
    margin: 0px;
    padding: 10% 0px 0px 0px;
}

/* Bootstrap Hacks */
#mycenter { position:absolute; }
#space td{ padding-top: 15px; }
#space td div{ position: relative; top: -6px; }
.right { float: right; }
.left { float: left; }
.text-right { text-align: right; }